
/* ESTILOS GERAIS */
* {
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px; /* altera grossura do cabeçalho */
}

body {
    background-color: #230829;
    color: #fff;
}

/* CABEÇALHO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    background-color: #78448a;
}

h1 {
    color: #ffffff;
}

/* NAVEGAÇÃO */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* SEÇÃO CONHEÇA-ME */
.content h2 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.content h2 span {
    color: #8A2BE2;
    font-weight: bold;
    display: block;
    margin-top: 0;
}

.hero {
    padding: 40px;
    background-color: #230829;
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.profile-pic img {
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin-left: 120px;
    transition: transform 0.3s;
}

.phrase.larger-text {
    font-size: 20px;
    max-width: 330px;
    margin-right: 300px;
    margin-top: -100px;
}

/* BOTÃO DE CONTATO */
.btn-contato {
    background-color: rgb(42, 253, 0);
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

/* FRASE */
.phrase {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}

/* PÁGINA HOBBIES */
.hobbies {
    background-color: #230829;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.hobbies h2 {
    font-size: 40px;
    color: #8A2BE2;
    margin-top: 50px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
    margin-top: 20px;
    transition: transform 0.3s;
}

.img-container :hover {
    transform: scale(1.05); /* Dá movimento às imagens */
}

.img {
    max-width: 65%;
    height: auto;
}

.hobbies img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}

/* PÁGINA CONHECIMENTOS */
.conhecimentos {
    background-color: #230829;
    color: #fff;
    padding: 0%;
    text-align: center;
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.6;
}

.conhecimentos h1 {
    font-size: 40px;
    color: #8A2BE2;
    font-weight: bold;
    margin-top: 100px;
}

.conhecimentos h3 {
    font-size: 30px;
    color: rgb(35, 240, 8);
}

/* PÁGINA PROJETOS */
.projetos {
    background-color: #230829;
    padding: 40px;
    text-align: center;
}

.projetos h2 {
    font-size: 40px;
    color: #8A2BE2;
    padding: 40px;
    margin-bottom: 30px;
}

.projetos h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -50px;

}

.img-projetos img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(138, 43, 226, 0.3);
    transition: transform 0.3s;
}


/* RODAPÉ */
.footer {
    background-color: #3f1e49;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    width: 100%;
    margin-bottom: 40px; /* 👈 espaçamento adicionado */
}
